$Primary-color:#EDE1C1;
$Secondary-color: #E5D8B7;
$Font-Border-color: #4C3410;
$nav-item-avtive: #A37025;
$nav-item-inactive: #A37025;

$share-icon-fb-color: #1196F5;
$share-icon-line-color: #24C301;
$share-icon-ig-color: #AF3694;